<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Актив отель "Горки"</title>
  <link rel="stylesheet" href="/static/agency.css">
</head>
<body>
  <header>
    <h1>{{agency.title}}</h1>
  </header>

  <nav>
    <a href="/tours">Главная</a>
    <a href="#tours">Туры</a>
    <a href="#photos">Фотографии</a>
    <a href="#about">О нас</a>
    <a href="#contacts">Контакты</a>
  </nav>

  <section id="tours">
    <h2>Туры</h2>
   <div class="container">
    {% for tour in tours %}
    <div class="card" onclick="window.location.href='/tour/{{ tour.id }}'">
        {% if tour.photo %}
        <img src="/static/photo/{{ tour.photo }}" alt="Фото тура" class="card-photo">
        {% endif %}
        <h2>{{ tour.title }}</h2>
        <p class="agency">{{ tour.tour_agency }}</p>
        <p><strong>Начало:</strong> {{ tour.start_time }}</p>
        <p><strong>Длительность:</strong> {{ tour.duration }}</p>
        <p><strong>Маршрут:</strong> {{ tour.route }}</p>
        <p class="tags">{{ tour.tags }}</p>
    </div>
    {% endfor %}
    {% if tours|length == 0 %}
    <p style="text-align: center; font-size: 18px; color: #555;">Ничего не найдено.</p>
    {% endif %}
</div>
  </section>

  <section id="photos">
    <h2>Фотографии</h2>
    <div class="photo-grid">
      {% for image in agency.photo.split(',') %}
        <img src="/static/photo/{{ image.strip() }}" alt="Фото отеля">
      {% endfor %}
    </div>
  </section>

  <section id="about">
    <h2>О нас</h2>
    <p>{{ agency.about_us }}</p>
  </section>

  <section id="contacts">
    <h2>Контакты</h2>
    <p>{{ agency.contacts|safe }}</p> <!-- safe используется для обработки HTML в тексте -->
    <p>Подробнее: <a href="https://{{ agency.url }}">Сайт</a></p>
  </section>
</body>
</html>
